<!-- Si es login, solo el router-outlet SIN layout -->
<ng-container *ngIf="isLogin">
  <router-outlet></router-outlet>
</ng-container>

<!-- Si NO es login, muestra layout completo -->
<ng-container *ngIf="!isLogin">
  
  <!-- NAVBAR FIJO ARRIBA -->
  <app-navbar class="app-navbar"></app-navbar>
  
  <!-- SIDEBAR FIJO A LA IZQUIERDA -->
  <app-sidebar class="app-sidebar"></app-sidebar>
  
  <!-- CONTENIDO CON SCROLL -->
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
  
</ng-container>